html, body{
  margin: 0;
  height: 100%;
  width: 100%;
}
body {
  perspective: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#viewport{
  transform-style: preserve-3d;
  position: relative;
  width: 1000px;
  height: 500px;
  //background: #eee;
  display: flex;
  justify-content: center;
  align-items: center;


  #top-layer{
    flex-shrink: 0;
    position: relative;
    width: 400px;
    height: 400px;
    //background: rosybrown;
    transform: translateZ(-250px) rotateY(0deg);
    transform-style: preserve-3d;
    animation: rotateTop 7s infinite linear forwards;




    &>div{
      cursor: pointer;
      width: 100%;
      height: 100%;
      position: absolute;
      background: url("https://images.pexels.com/photos/163999/pexels-photo-163999.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      font-size: 30px;
      font-family: Arial, Helvetica, sans-serif;
      text-transform: uppercase;
      opacity: .8;
      border-radius: 10px;
      transition: all 1s ease-out;

      &.focus{
        width: 120%;
        height: 120%;
        opacity: 1;
      }
    }

    #front{
      transform: translateZ(260px);
    }
    #right{
      transform: translateX(65%) rotateY(90deg);
    }
    #back{
      transform: translateZ(-260px) rotateY(180deg);
    }
    #left{
      transform: translateX(-65%) rotateY(-90deg);
    }
  }
}

@keyframes rotateTop {
  from{
    transform: translateZ(-250px) rotateY(0deg);
  }
  to{
    transform: translateZ(-250px) rotateY(-360deg);
  }
}

