

///////////////////// General Styling /////////////////////
html{
  height: 100%;
}

body{
  height: 100%;
  width: 100%;
  background:#f0e9dd;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#viewport{
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

img{
  width: 21%;
  max-width: 300px;
  margin: 10px;
  box-shadow:1px 1px 4px rgba(0,0,0,.8);
}

@media screen and (max-width:580px){
  img{
    width: 44.5%;
  }
}

///////////////////// 3D Environment /////////////////////

.preserve3d #viewport{

  text-align: left;
  perspective:500px;
}

.preserve3d #toptier,.preserve3d #bottomtier{
  perspective: 500px;
  width: 300px;
  height: 169px;
  background: url('../images/parent.png');
  transform-style: preserve-3d;
}


.preserve3d img{
  position: absolute;
  width: 300px;
  margin: 0;
  opacity: .7;
  border-radius: 4px;
  box-shadow: none;
}


///////////////////// Toptier Object /////////////////////

.preserve3d #toptier{
  margin:0 auto 40px auto;
  //transform: translateZ(-160px);
}

.preserve3d #pic1{
  transform:translateZ(160px);
}

/*.preserve3d #pic2{
  @include transform( translateX(160px) rotateY(90deg) );
}

/*.preserve3d #pic3{
  @include transform( translateZ(-160px) rotateY(180deg) );
}

/*.preserve3d #pic4{
  @include transform( translateX(-160px) rotateY(-90deg) );
}
*/

///////////////////// Bottomtier Object /////////////////////

.preserve3d #bottomtier{
  margin: 0 auto;
  //transform(translateZ(-280px));
}

/*.preserve3d #pic5{
  @include transform( translateZ(280px) );
}

/*.preserve3d #pic6{
  @include transform( translateX(280px) rotateY(90deg) );
}

/*.preserve3d #pic7{
  @include transform( translateZ(-280px) rotateY(180deg) );
}

/*.preserve3d #pic8{
  @include transform( translateX(-280px) rotateY(-90deg) );
}*/