

#wavesFill{
	width: 600px;
	height: auto;
	border: 2px solid #419afe;
	overflow: hidden;
	margin-right: 2em;
	position: relative;

	svg{
		display: block;
		transform: translateY(50%);
		//animation: fill	10s linear forwards;
		//background: black;
	}
	use{
		fill: #f1bd00
	}
	#myWave{
		transform: translateX(-100%);
		animation: waves 10s ease-in-out infinite alternate;
	}
	#myWave2{
		//animation: waves2 10s ease-in-out;

	}


}
@keyframes fill {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(-15%);
  }
}

@keyframes waves {
  20% {
    transform: translateX(0%);
	}
	40% {
    transform: translateX(-100%);
	}
	60% {
    transform: translateX(0%);
	}
	80% {
    transform: translateX(-100%);
	}
	100% {
    transform: translateX(0%);
  }
}
@keyframes waves2 {
  20% {
    transform: translateX(-20%);
	}
	40% {
    transform: translateX(0);
	}
	60% {
    transform: translateX(-40%);
	}
	80% {
    transform: translateX(0);
	}
	100% {
    transform: translateX(-40%);
  }
}

html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

body {
  min-height: 100vh;
  font-family: Roboto, Arial;
  color: #adafb6;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
