

#wavesFill{
	width: 300px;
	height: auto;
	border: 2px solid #419afe;
	overflow: hidden;
	margin-right: 2em;
	position: relative;

	svg{
		display: block;
		background: black;
	}
	g#animation{
		transform: translateY(100%);
		animation: fill	3s linear 0.33s forwards;
	}

		
	use{
		fill: #f1bd00
	}
	#myWave{
		transform: translateX(-100%);
		animation: forward 1.5s infinite ease-in-out alternate;
	}
	#myWave2{
		animation: backward 1.5s infinite ease-in-out alternate;

	}


}
@keyframes fill {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(-15%);
  }
}
@keyframes backward {
  100% {
    transform: translateX(-50%);
  }
}
@keyframes forward {
  100% {
    transform: translateX(-50%);
  }
}
html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

body {
  min-height: 100vh;
  font-family: Roboto, Arial;
  color: #adafb6;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
